.row {
  margin-top: -30em;
}

.card {
  position: absolute;
  top: 30em;
  left: 0.3em;
  width: 12em;
  height: 23em;
  border: none;
  margin: 5em 1em 0em 0em;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.overflow {
  overflow: hidden;
  border-radius: 4px;
}

.card-image {
  height: 180px;
  transform: scale(1);
  transition: transform 0.5s ease;
  margin-bottom: 0.5em;
}
.card-image button {
  display: none;
}

.card-image:hover {
  transform: scale(1.5);
}
.card-image:hover button {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);;
  border: none;
  color: rgb(255, 0, 234);

}

.card-title h4 {
  margin-top: 5px;
  font-size: 14px;
}
.card-title {
  margin-left: 8px;
  margin-right: 8px;
  text-align: justify;
}
.card-text {
  font-size: 10px;
}
.card-link {
  border: none;
  height: 10em;
  width: 9.5em;
  font-family: "Courgette", cursive;
  color: rgb(255, 0, 234);
  font-size: 20px;
  position: fixed;
  background-color: transparent;
  bottom: -0.5em;
  left: 0em;
  text-shadow: 1px -1px 0 rgba(255,255,255,0.5),
    2px 1px 3px rgba(255,0,255,0.85), 
    -1px -2px 3px rgba(0,0,255,0.5),
    1px -1px 0 rgba(255,255,255,0.5);
}
.card-link text{
  
}