.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.dots-before {
  border: none;
  border-top: 7px dotted rgba(170, 0, 170, 1);
  background-color: none;
  width: 2em;
  position: fixed;
  top: 21.6em;
  left: 2em;
  filter: blur(0.8px);
  box-shadow: inset 0px 1px 5px rgba(170, 0, 170),
    inset 0px -1px 5px rgba(170, 0, 170);
}

.dots-after {
  border: none;
  border-top: 7px dotted rgb(119, 0, 255);
  background-color: none;
  width: 2em;
  position: fixed;
  top: 21.6em;
  left: 62.8em;
  filter: blur(0.8px);
  box-shadow: inset 0px 1px 5px rgb(119, 0, 255),
    inset 0px -1px 5px rgb(119, 0, 255);
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  position: fixed;
  top: 7em;
  left: 3em;
  z-index: 200;
  margin-left: calc((80vw - 25px) / 20);
  color: white;
  margin-bottom: -20em;
}

input {
  width: 40px;
  height: 40px;
  background-color: rgba(170, 0, 170, 1);
  position: relative;
  border-radius: 50%;
  border: 5px solid rgba(170, 0, 170);
  top: 31em;
  left: 1em;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 1px 5px rgba(170, 0, 170), 0px -1px 5px rgba(170, 0, 170);
}
input:focus {
  outline: none;
}
input::before,
input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  border: rgb(119, 0, 255);
  transform: translateY(-50%);
  transition: background-color 1s ease;
  background-color: rgba(170, 0, 170, 1);
  box-shadow: 0px 1px 5px rgba(170, 0, 170), 0px -1px 5px rgba(170, 0, 170);
  width: 7vw;
  height: 8px;
}

input::before {
  left: calc(1vw + 15px);
}
input::after {
  right: calc(1vw + 15px);
}
input:checked {
  transition: background-color 1s ease;
  background-color: rgba(170, 0, 170, 1);
  box-shadow: 1px 1px 5px rgba(170, 0, 170), -1px -1px 5px rgba(170, 0, 170);
}
input:checked::before {
  left: calc(1vw + 10px);
  transition: background-color 1s ease;
  background-color: rgba(119, 0, 255);
  box-shadow: 1px 1px 5px rgba(119, 0, 255), -1px -1px 5px rgba(119, 0, 255);
}
input:checked::after {
  right: calc(1vw + 15px);
  background-color: rgb(170, 0, 170, 1);
  box-shadow: 1px 1px 5px rgb(170, 0, 170), -1px -1px 5px rgb(170, 0, 170);
}
input:checked ~ input,
input:checked ~ input::before,
input:checked ~ input::after {
  background-color: rgb(119, 0, 255);
  box-shadow: 1px 1px 5px rgb(119, 0, 255), -1px -1px 5px rgb(119, 0, 255);
}
input:checked + .dot-info span {
  font-size: 35px;
  font-weight: bold;
  color: white;
  width: 150px;
}
input:checked + .dot-info span.year {
  font-size: 40px;
  font-weight: 400;
  color: white;
  width: 150px;
}

input:checked + .dot-info span.label {
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 200px;
  top: -4.5em;
}

.dot-info {
  width: 30px;
  height: 30px;
  display: block;
  visibility: hidden;
  position: relative;
  top: 30.5em;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
  color: white;
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 11px;
  color: white;
}
.dot-info span.year {
  bottom: -2.5em;
  left: 160%;
  width: 150px;
  transform: translateX(-50%);
  font-family: "AstronVid";
  font-size: 28px;
}
.dot-info span.label {
  top: -120px;
  left: 0px;
  transform: rotateZ(-45deg);
  width: 150px;
  text-indent: -10px;
  color: white;
  font-family: "Lunatic";
  font-size: 24px;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: white;
  border-top: solid 2px rgb(0, 195, 255);
  border-bottom: solid 2px rgb(0, 195, 255);
  box-shadow: 2px 2px 5px rgba(170, 0, 170), 2px 2px 5px rgb(0, 195, 255);
  border-radius: 0px 30px 0px 30px;
  margin-left: -2em;
  height: 7em;
  padding: 20px;
  font-family: "Lunatic";
  background: rgba(0, 0, 0, 0.3);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
  color: white;
}
#timeline-descriptions-wrapper br {
  padding: 10em;
}

input[data-description="2012"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2012"] {
  display: block;
}

input[data-description="2013"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2013"] {
  display: block;
}

input[data-description="2014"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2014"] {
  display: block;
}

input[data-description="2015"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2015"] {
  display: block;
}

input[data-description="2018"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2018"] {
  display: block;
}

input[data-description="2018-bis"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2018-bis"] {
  display: block;
}

input[data-description="2019"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2019"] {
  display: block;
}

input[data-description="2019-bis"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2019-bis"] {
  display: block;
}

input[data-description="2020"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="2020"] {
  display: block;
}

input[data-description="Aujourd'hui"]:checked
  ~ #timeline-descriptions-wrapper
  p[data-description="Aujourd'hui"] {
  display: block;
}

@media (min-width: 1250px) {
  
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
    padding-bottom: 30px;
  }

  input,
  .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before,
  input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2c3e50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: rgb(0, 225, 255);
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}
